WebClient/Service References/BetterPlaceAPIRef/Repository.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Repository.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Repository.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="APIKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Archives" nillable="true" type="tns:ArrayOfArchive" />
      <xs:element minOccurs="0" name="Bookmarks" nillable="true" type="tns:ArrayOfBookmark" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocLat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocLong" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservations" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCars" nillable="true" type="tns:ArrayOfUserCar" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfArchive">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Archive" nillable="true" type="tns:Archive" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchive" nillable="true" type="tns:ArrayOfArchive" />
  <xs:complexType name="Archive">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchiveStations" nillable="true" type="tns:ArrayOfArchiveStation" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndLong" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartLong" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Archive" nillable="true" type="tns:Archive" />
  <xs:complexType name="ArrayOfArchiveStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveStation" nillable="true" type="tns:ArchiveStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveStation" nillable="true" type="tns:ArrayOfArchiveStation" />
  <xs:complexType name="ArchiveStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archive" nillable="true" type="tns:Archive" />
      <xs:element minOccurs="0" name="ArchiveId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="StationLong" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ArchiveStation" nillable="true" type="tns:ArchiveStation" />
  <xs:complexType name="ArrayOfBookmark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bookmark" nillable="true" type="tns:Bookmark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookmark" nillable="true" type="tns:ArrayOfBookmark" />
  <xs:complexType name="Bookmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndLong" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartLong" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Bookmark" nillable="true" type="tns:Bookmark" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Station" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryStorages" nillable="true" type="tns:BatteryStorage" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOperational" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reservations" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="StationLat" type="xs:decimal" />
      <xs:element minOccurs="0" name="StationLong" type="xs:decimal" />
      <xs:element minOccurs="0" name="StationMaintenances" nillable="true" type="tns:ArrayOfStationMaintenance" />
      <xs:element minOccurs="0" name="StationType" nillable="true" type="tns:StationType" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="BatteryStorage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:int" />
      <xs:element minOccurs="0" name="BatteryCollections" nillable="true" type="tns:ArrayOfBatteryCollection" />
      <xs:element minOccurs="0" name="Charging" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reserved" type="xs:int" />
      <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Station" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BatteryStorage" nillable="true" type="tns:BatteryStorage" />
  <xs:complexType name="ArrayOfBatteryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatteryCollection" nillable="true" type="tns:BatteryCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatteryCollection" nillable="true" type="tns:ArrayOfBatteryCollection" />
  <xs:complexType name="BatteryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Battery" nillable="true" type="tns:Battery" />
      <xs:element minOccurs="0" name="BatteryId" type="xs:int" />
      <xs:element minOccurs="0" name="BatteryStorage" nillable="true" type="tns:BatteryStorage" />
      <xs:element minOccurs="0" name="BatteryStorageId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BatteryCollection" nillable="true" type="tns:BatteryCollection" />
  <xs:complexType name="Battery">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryChargings" nillable="true" type="tns:ArrayOfBatteryCharging" />
      <xs:element minOccurs="0" name="BatteryCollections" nillable="true" type="tns:ArrayOfBatteryCollection" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManufacturingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfCommisionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Battery" nillable="true" type="tns:Battery" />
  <xs:complexType name="ArrayOfBatteryCharging">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatteryCharging" nillable="true" type="tns:BatteryCharging" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatteryCharging" nillable="true" type="tns:ArrayOfBatteryCharging" />
  <xs:complexType name="BatteryCharging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Battery" nillable="true" type="tns:Battery" />
      <xs:element minOccurs="0" name="BatteryId" type="xs:int" />
      <xs:element minOccurs="0" name="CompletedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BatteryCharging" nillable="true" type="tns:BatteryCharging" />
  <xs:complexType name="ArrayOfStationMaintenance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationMaintenance" nillable="true" type="tns:StationMaintenance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationMaintenance" nillable="true" type="tns:ArrayOfStationMaintenance" />
  <xs:complexType name="StationMaintenance">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpectedOperationalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaintenanceType" nillable="true" type="tns:MaintenanceType" />
      <xs:element minOccurs="0" name="Station" nillable="true" type="tns:Station" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StationMaintenance" nillable="true" type="tns:StationMaintenance" />
  <xs:complexType name="MaintenanceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationMaintenances" nillable="true" type="tns:ArrayOfStationMaintenance" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MaintenanceType" nillable="true" type="tns:MaintenanceType" />
  <xs:complexType name="StationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stations" nillable="true" type="tns:ArrayOfStation" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StationType" nillable="true" type="tns:StationType" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="ArrayOfUserCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCar" nillable="true" type="tns:UserCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCar" nillable="true" type="tns:ArrayOfUserCar" />
  <xs:complexType name="UserCar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:Car" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UserCar" nillable="true" type="tns:UserCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarModel" nillable="true" type="tns:CarModel" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="tns:Manufacturer" />
      <xs:element minOccurs="0" name="ManufacturerId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="CarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cars" nillable="true" type="tns:ArrayOfCar" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Range" type="xs:decimal" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CarModel" nillable="true" type="tns:CarModel" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Manufacturer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cars" nillable="true" type="tns:ArrayOfCar" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Manufacturer" nillable="true" type="tns:Manufacturer" />
</xs:schema>